#Series

In [2]:
import pandas as pd 
x=[3,4,5,6,7,8]
var = pd.Series(x)
print(var)
print(type(var))

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64
<class 'pandas.core.series.Series'>

In [45]:
import pandas as pd
x = [3,4,5,6,7,8]
var = pd.Series(x)
print(var)
print(var[2])

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64
5

In [47]:
import pandas as pd

x = [3,4,5,6]
var = pd.Series(x, index= ['a','s','d','f'])
print(var)

a    3
s    4
d    5
f    6
dtype: int64

In [5]:
import pandas as pd

x = [3,4,5,6]
var = pd.Series(x, index=['a','s','d','f'],dtype="float")
print(var)
print(type(var))

a    3.0
s    4.0
d    5.0
f    6.0
dtype: float64
<class 'pandas.core.series.Series'>

In [6]:
dic = {"name": ['Python','C','C++','Java'], "por": [12,13,14,15], "rank":[1,4,3,2]}

var1 = pd.Series(dic)
print(var1)

name    [Python, C, C++, Java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object

In [7]:
s = pd.Series(12)
print(s)
print(type(s))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

In [8]:
s = pd.Series(12, index=[1,2,3,4,5,6,7])
print(s)
print(type(s))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
s1 = pd.Series(12,index = [1,2,3,4,5,6,7])
s2 = pd.Series(12,index = [1,2,3,4])
print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

#Dataframe

In [11]:
import pandas as pd

l = [1,2,3,4,5,6]
var = pd.DataFrame(l)
print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>

In [12]:
d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5]}
var1 = pd.DataFrame(d)
print(type(var1))
print(var1)

<class 'pandas.core.frame.DataFrame'>
   a  s
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [13]:
import pandas as pd

m = {
    "a": [1, 2, 3, 4, 5],
    "s": [1, 2, 3, 4, 5],
    "d": [1, 2, 3, 4, 5],
    "l": [1, 2, 3, 4, 5]
}

var1 = pd.DataFrame(m, columns=["a", "l"])
print(var1)
print(type(var1))

   a  l
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
<class 'pandas.core.frame.DataFrame'>

In [14]:
d ={
    "a":[1,2,3,4,5],
    "s":[1,2,3,4,5],
    "d":[1,2,3,4,5],
    "l":[1,2,3,4,5]
}

var1 = pd.DataFrame(d)
print(var1["a"][3])

4

In [15]:
sr = {"s": pd.Series([1,2,3,4]),"r": pd.Series([1,2,3,4])}

var3 = pd.DataFrame(sr)
print(var3)
print(type(var3))

   s  r
0  1  1
1  2  2
2  3  3
3  4  4
<class 'pandas.core.frame.DataFrame'>

#Arithmetic_operations

In [61]:
import pandas as pd

var = pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [63]:
var["C"] = var["A"]+var["B"]
print(var["C"])

0     6
1     8
2    10
3    12
Name: C, dtype: int64

In [65]:
var["C"] = var["B"]-var["A"]
print(var["C"])

0    4
1    4
2    4
3    4
Name: C, dtype: int64

In [67]:
var["C"] = var["A"]/var["B"]
print(var["C"])

0    0.200000
1    0.333333
2    0.428571
3    0.500000
Name: C, dtype: float64

In [69]:
var1 = pd.DataFrame({"A":[10,20,30,40],"B":[15,16,17,18]})

print(var1)

    A   B
0  10  15
1  20  16
2  30  17
3  40  18

In [71]:
var1["Python"] = var1["A"]<=20

var1["Python"] = var1["B"]>=16

print(var1)

    A   B  Python
0  10  15   False
1  20  16    True
2  30  17    True
3  40  18    True

#Insert and Delete

In [74]:
import pandas as pd

var = pd.DataFrame({"A":[1,2,3,4,5],"B":[9,8,7,6,5]})
print(var)

var.insert(1,"Python",var["A"])
var

   A  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

   A  Python  B
0  1       1  9
1  2       2  8
2  3       3  7
3  4       4  6
4  5       5  5

In [76]:
var.insert(1,"Python-1",[11,12,13,14,15])
var

   A  Python-1  Python  B
0  1        11       1  9
1  2        12       2  8
2  3        13       3  7
3  4        14       4  6
4  5        15       5  5

In [78]:
var["Python-12"] = var["A"][ :3]
var

   A  Python-1  Python  B  Python-12
0  1        11       1  9        1.0
1  2        12       2  8        2.0
2  3        13       3  7        3.0
3  4        14       4  6        NaN
4  5        15       5  5        NaN

In [80]:
var1 = var.pop("B")
var1

0    9
1    8
2    7
3    6
4    5
Name: B, dtype: int64

#write csv

In [83]:
import pandas as pd

dis = {"a":[1,2,3,4,5,6],"s":[1,2,3,4,5,6],"d":[1,2,3,4,5,6]}
d = pd.DataFrame(dis)
print(d)
d.to_csv("Test_new.csv")

   a  s  d
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

In [85]:
import pandas as pd

dis ={"a":[1,2,3,4,5,6],"s":[1,2,3,4,5,6],"d":[1,2,3,4,5,6]}
d = pd.DataFrame(dis)
print(d)
d.to_csv("Test_new1.csv",index = False)

   a  s  d
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

#Read_CSV

In [88]:
import pandas as pd 

csv_1 = pd.read_csv("Downloads/bookings.csv")

print(csv_1)

               booking_id  property_id booking_date check_in_date  \
0        May012216558RT11        16558   2022-04-27    2022-05-01
1        May012216558RT12        16558   2022-04-30    2022-05-01
2        May012216558RT13        16558   2022-04-28    2022-05-01
3        May012216558RT14        16558   2022-04-28    2022-05-01
4        May012216558RT15        16558   2022-04-27    2022-05-01
...                   ...          ...          ...           ...
134585   Jul312217564RT46        17564   2022-07-29    2022-07-31
134586   Jul312217564RT47        17564   2022-07-30    2022-07-31
134587   Jul312217564RT48        17564   2022-07-30    2022-07-31
134588   Jul312217564RT49        17564   2022-07-29    2022-07-31
134589  Jul312217564RT410        17564   2022-07-31    2022-07-31

       checkout_date  no_guests room_category booking_platform  ratings_given  \
0         2022-05-02          3           RT1    direct online            1.0
1         2022-05-02          2           RT1           others            NaN
2         2022-05-04          2           RT1          logtrip            5.0
3         2022-05-02          2           RT1           others            NaN
4         2022-05-02          4           RT1    direct online            5.0
...              ...        ...           ...              ...            ...
134585    2022-08-03          1           RT4     makeyourtrip            2.0
134586    2022-08-01          4           RT4          logtrip            2.0
134587    2022-08-02          1           RT4         tripster            NaN
134588    2022-08-01          2           RT4          logtrip            2.0
134589    2022-08-01          2           RT4     makeyourtrip            NaN

       booking_status  revenue_generated  revenue_realized
0         Checked Out              10010             10010
1           Cancelled               9100              3640
2         Checked Out               9100              9100
3           Cancelled               9100              3640
4         Checked Out              10920             10920
...               ...                ...               ...
134585    Checked Out              32300             32300
134586    Checked Out              38760             38760
134587      Cancelled              32300             12920
134588    Checked Out              32300             32300
134589      Cancelled              32300             12920

[134590 rows x 12 columns]

In [90]:
csv_2 = pd.read_csv("Downloads/bookings.csv",nrows = 1)
print(csv_2)
print(type(csv_2))

         booking_id  property_id booking_date check_in_date checkout_date  \
0  May012216558RT11        16558   2022-04-27    2022-05-01    2022-05-02

   no_guests room_category booking_platform  ratings_given booking_status  \
0          3           RT1    direct online            1.0    Checked Out

   revenue_generated  revenue_realized
0              10010             10010
<class 'pandas.core.frame.DataFrame'>

In [92]:
csv_2 = pd.read_csv("Downloads/bookings.csv",usecols=["booking_id","check_in_date"])
print(csv_2)

               booking_id check_in_date
0        May012216558RT11    2022-05-01
1        May012216558RT12    2022-05-01
2        May012216558RT13    2022-05-01
3        May012216558RT14    2022-05-01
4        May012216558RT15    2022-05-01
...                   ...           ...
134585   Jul312217564RT46    2022-07-31
134586   Jul312217564RT47    2022-07-31
134587   Jul312217564RT48    2022-07-31
134588   Jul312217564RT49    2022-07-31
134589  Jul312217564RT410    2022-07-31

[134590 rows x 2 columns]

In [94]:
csv_2 = pd.read_csv("Downloads/bookings.csv",index_col = "booking_id")

csv_2

,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
booking_id,,,,,,,,,,,
May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920
...,...,...,...,...,...,...,...,...,...,...,...
Jul312217564RT46,17564,2022-07-29,2022-07-31,2022-08-03,1,RT4,makeyourtrip,2.0,Checked Out,32300,32300
Jul312217564RT47,17564,2022-07-30,2022-07-31,2022-08-01,4,RT4,logtrip,2.0,Checked Out,38760,38760
Jul312217564RT48,17564,2022-07-30,2022-07-31,2022-08-02,1,RT4,tripster,NaN,Cancelled,32300,12920
Jul312217564RT49,17564,2022-07-29,2022-07-31,2022-08-01,2,RT4,logtrip,2.0,Checked Out,32300,32300
Jul312217564RT410,17564,2022-07-31,2022-07-31,2022-08-01,2,RT4,makeyourtrip,NaN,Cancelled,32300,12920

In [96]:
csv_2 = pd.read_csv("Downloads/bookings.csv",header=2)

csv_2

,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,Unnamed: 8,Cancelled,9100,3640
0,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
1,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920
3,May012216558RT16,16558,2022-05-01,2022-05-01,2022-05-03,2,RT1,others,4.0,Checked Out,9100,9100
4,May012216558RT17,16558,2022-04-28,2022-05-01,2022-05-06,2,RT1,others,NaN,Cancelled,9100,3640
...,...,...,...,...,...,...,...,...,...,...,...,...
134583,Jul312217564RT46,17564,2022-07-29,2022-07-31,2022-08-03,1,RT4,makeyourtrip,2.0,Checked Out,32300,32300
134584,Jul312217564RT47,17564,2022-07-30,2022-07-31,2022-08-01,4,RT4,logtrip,2.0,Checked Out,38760,38760
134585,Jul312217564RT48,17564,2022-07-30,2022-07-31,2022-08-02,1,RT4,tripster,NaN,Cancelled,32300,12920
134586,Jul312217564RT49,17564,2022-07-29,2022-07-31,2022-08-01,2,RT4,logtrip,2.0,Checked Out,32300,32300
134587,Jul312217564RT410,17564,2022-07-31,2022-07-31,2022-08-01,2,RT4,makeyourtrip,NaN,Cancelled,32300,12920

In [98]:
csv_2 = pd.read_csv("Downloads/bookings.csv", names=["col1","col2","col3","col4","col5","col6","col7","col8","col9","col10","col11","col12"])

csv_2

C:\Users\user5\AppData\Local\Temp\ipykernel_1960\2084747072.py:1: DtypeWarning: Columns (1,5,8,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  csv_2 = pd.read_csv("Downloads/bookings.csv", names=["col1","col2","col3","col4","col5","col6","col7","col8","col9","col10","col11","col12"])

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12
0,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
1,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
2,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
3,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
4,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
...,...,...,...,...,...,...,...,...,...,...,...,...
134586,Jul312217564RT46,17564,2022-07-29,2022-07-31,2022-08-03,1,RT4,makeyourtrip,2.0,Checked Out,32300,32300
134587,Jul312217564RT47,17564,2022-07-30,2022-07-31,2022-08-01,4,RT4,logtrip,2.0,Checked Out,38760,38760
134588,Jul312217564RT48,17564,2022-07-30,2022-07-31,2022-08-02,1,RT4,tripster,NaN,Cancelled,32300,12920
134589,Jul312217564RT49,17564,2022-07-29,2022-07-31,2022-08-01,2,RT4,logtrip,2.0,Checked Out,32300,32300
134590,Jul312217564RT410,17564,2022-07-31,2022-07-31,2022-08-01,2,RT4,makeyourtrip,NaN,Cancelled,32300,12920

In [100]:
csv_1 = pd.read_csv("Downloads/bookings.csv", dtype={"revenue_generated":"float"})

csv_1

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010.0,10010
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100.0,3640
2,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100.0,9100
3,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100.0,3640
4,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920.0,10920
...,...,...,...,...,...,...,...,...,...,...,...,...
134585,Jul312217564RT46,17564,2022-07-29,2022-07-31,2022-08-03,1,RT4,makeyourtrip,2.0,Checked Out,32300.0,32300
134586,Jul312217564RT47,17564,2022-07-30,2022-07-31,2022-08-01,4,RT4,logtrip,2.0,Checked Out,38760.0,38760
134587,Jul312217564RT48,17564,2022-07-30,2022-07-31,2022-08-02,1,RT4,tripster,NaN,Cancelled,32300.0,12920
134588,Jul312217564RT49,17564,2022-07-29,2022-07-31,2022-08-01,2,RT4,logtrip,2.0,Checked Out,32300.0,32300
134589,Jul312217564RT410,17564,2022-07-31,2022-07-31,2022-08-01,2,RT4,makeyourtrip,NaN,Cancelled,32300.0,12920

#Pandas Function

In [103]:
import pandas as pd
csv_1 = pd.read_csv("Downloads/bookings.csv")

print(csv_1)

               booking_id  property_id booking_date check_in_date  \
0        May012216558RT11        16558   2022-04-27    2022-05-01
1        May012216558RT12        16558   2022-04-30    2022-05-01
2        May012216558RT13        16558   2022-04-28    2022-05-01
3        May012216558RT14        16558   2022-04-28    2022-05-01
4        May012216558RT15        16558   2022-04-27    2022-05-01
...                   ...          ...          ...           ...
134585   Jul312217564RT46        17564   2022-07-29    2022-07-31
134586   Jul312217564RT47        17564   2022-07-30    2022-07-31
134587   Jul312217564RT48        17564   2022-07-30    2022-07-31
134588   Jul312217564RT49        17564   2022-07-29    2022-07-31
134589  Jul312217564RT410        17564   2022-07-31    2022-07-31

       checkout_date  no_guests room_category booking_platform  ratings_given  \
0         2022-05-02          3           RT1    direct online            1.0
1         2022-05-02          2           RT1           others            NaN
2         2022-05-04          2           RT1          logtrip            5.0
3         2022-05-02          2           RT1           others            NaN
4         2022-05-02          4           RT1    direct online            5.0
...              ...        ...           ...              ...            ...
134585    2022-08-03          1           RT4     makeyourtrip            2.0
134586    2022-08-01          4           RT4          logtrip            2.0
134587    2022-08-02          1           RT4         tripster            NaN
134588    2022-08-01          2           RT4          logtrip            2.0
134589    2022-08-01          2           RT4     makeyourtrip            NaN

       booking_status  revenue_generated  revenue_realized
0         Checked Out              10010             10010
1           Cancelled               9100              3640
2         Checked Out               9100              9100
3           Cancelled               9100              3640
4         Checked Out              10920             10920
...               ...                ...               ...
134585    Checked Out              32300             32300
134586    Checked Out              38760             38760
134587      Cancelled              32300             12920
134588    Checked Out              32300             32300
134589      Cancelled              32300             12920

[134590 rows x 12 columns]

In [105]:
csv_1.index

RangeIndex(start=0, stop=134590, step=1)

In [107]:
csv_1.columns

Index(['booking_id', 'property_id', 'booking_date', 'check_in_date',
       'checkout_date', 'no_guests', 'room_category', 'booking_platform',
       'ratings_given', 'booking_status', 'revenue_generated',
       'revenue_realized'],
      dtype='object')

In [109]:
csv_1.describe()

,property_id,no_guests,ratings_given,revenue_generated,revenue_realized
count,134590.000000,134590.000000,56683.000000,134590.000000,134590.000000
mean,18061.113493,2.036808,3.619004,14916.013188,12696.123256
std,1093.055847,1.031766,1.235009,6452.868072,6928.108124
min,16558.000000,1.000000,1.000000,6500.000000,2600.000000
25%,17558.000000,1.000000,3.000000,9900.000000,7600.000000
50%,17564.000000,2.000000,4.000000,13500.000000,11700.000000
75%,18563.000000,2.000000,5.000000,18000.000000,15300.000000
max,19563.000000,6.000000,5.000000,45220.000000,45220.000000

In [111]:
csv_1.head(2)

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640

In [113]:
csv_1.tail(2)

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
134588,Jul312217564RT49,17564,2022-07-29,2022-07-31,2022-08-01,2,RT4,logtrip,2.0,Checked Out,32300,32300
134589,Jul312217564RT410,17564,2022-07-31,2022-07-31,2022-08-01,2,RT4,makeyourtrip,NaN,Cancelled,32300,12920

In [115]:
csv_1[ :5]

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
3,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
4,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920

In [117]:
print(type(csv_1))

<class 'pandas.core.frame.DataFrame'>

In [119]:
csv_1.index.array

<NumpyExtensionArray>
[     0,      1,      2,      3,      4,      5,      6,      7,      8,
      9,
 ...
 134580, 134581, 134582, 134583, 134584, 134585, 134586, 134587, 134588,
 134589]
Length: 134590, dtype: int64

In [121]:
import numpy as np
v = np.array(csv_1)

v

array([['May012216558RT11', 16558, '2022-04-27', ..., 'Checked Out',
        10010, 10010],
       ['May012216558RT12', 16558, '2022-04-30', ..., 'Cancelled', 9100,
        3640],
       ['May012216558RT13', 16558, '2022-04-28', ..., 'Checked Out',
        9100, 9100],
       ...,
       ['Jul312217564RT48', 17564, '2022-07-30', ..., 'Cancelled', 32300,
        12920],
       ['Jul312217564RT49', 17564, '2022-07-29', ..., 'Checked Out',
        32300, 32300],
       ['Jul312217564RT410', 17564, '2022-07-31', ..., 'Cancelled',
        32300, 12920]], dtype=object)

In [123]:
csv_1.sort_index(axis=0,ascending = False)

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
134589,Jul312217564RT410,17564,2022-07-31,2022-07-31,2022-08-01,2,RT4,makeyourtrip,NaN,Cancelled,32300,12920
134588,Jul312217564RT49,17564,2022-07-29,2022-07-31,2022-08-01,2,RT4,logtrip,2.0,Checked Out,32300,32300
134587,Jul312217564RT48,17564,2022-07-30,2022-07-31,2022-08-02,1,RT4,tripster,NaN,Cancelled,32300,12920
134586,Jul312217564RT47,17564,2022-07-30,2022-07-31,2022-08-01,4,RT4,logtrip,2.0,Checked Out,38760,38760
134585,Jul312217564RT46,17564,2022-07-29,2022-07-31,2022-08-03,1,RT4,makeyourtrip,2.0,Checked Out,32300,32300
...,...,...,...,...,...,...,...,...,...,...,...,...
4,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920
3,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
0,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010

In [125]:
csv_1.loc[0,"booking_id"]="Python"

csv_1

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,Python,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
3,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
4,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920
...,...,...,...,...,...,...,...,...,...,...,...,...
134585,Jul312217564RT46,17564,2022-07-29,2022-07-31,2022-08-03,1,RT4,makeyourtrip,2.0,Checked Out,32300,32300
134586,Jul312217564RT47,17564,2022-07-30,2022-07-31,2022-08-01,4,RT4,logtrip,2.0,Checked Out,38760,38760
134587,Jul312217564RT48,17564,2022-07-30,2022-07-31,2022-08-02,1,RT4,tripster,NaN,Cancelled,32300,12920
134588,Jul312217564RT49,17564,2022-07-29,2022-07-31,2022-08-01,2,RT4,logtrip,2.0,Checked Out,32300,32300
134589,Jul312217564RT410,17564,2022-07-31,2022-07-31,2022-08-01,2,RT4,makeyourtrip,NaN,Cancelled,32300,12920

In [127]:
csv_1.loc[[2,3],["booking_status","revenue_generated"]]

  booking_status  revenue_generated
2    Checked Out               9100
3      Cancelled               9100

In [129]:
csv_1.iloc[0,2]

'2022-04-27'

In [131]:
csv_1.drop(0,axis=0)

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
3,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
4,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920
5,May012216558RT16,16558,2022-05-01,2022-05-01,2022-05-03,2,RT1,others,4.0,Checked Out,9100,9100
...,...,...,...,...,...,...,...,...,...,...,...,...
134585,Jul312217564RT46,17564,2022-07-29,2022-07-31,2022-08-03,1,RT4,makeyourtrip,2.0,Checked Out,32300,32300
134586,Jul312217564RT47,17564,2022-07-30,2022-07-31,2022-08-01,4,RT4,logtrip,2.0,Checked Out,38760,38760
134587,Jul312217564RT48,17564,2022-07-30,2022-07-31,2022-08-02,1,RT4,tripster,NaN,Cancelled,32300,12920
134588,Jul312217564RT49,17564,2022-07-29,2022-07-31,2022-08-01,2,RT4,logtrip,2.0,Checked Out,32300,32300
134589,Jul312217564RT410,17564,2022-07-31,2022-07-31,2022-08-01,2,RT4,makeyourtrip,NaN,Cancelled,32300,12920

#Handling missing values

#dropna and fillna

In [135]:
import pandas as pd 

var = pd.read_csv("Downloads/IPL_BallByBall2008_2024(Updated).csv")
var

C:\Users\user5\AppData\Local\Temp\ipykernel_1960\1564037655.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  var = pd.read_csv("Downloads/IPL_BallByBall2008_2024(Updated).csv")

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,NaN,NaN,NaN
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,1,1/0,0,NaN,NaN,NaN
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,NaN,NaN,NaN
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255754,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.1,RJ Gleeson,SM Curran,Shashank Singh,0,0,NaN,156,156/3,0,NaN,NaN,NaN
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,NaN,160,160/3,0,NaN,NaN,NaN
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,NaN,160,160/3,0,NaN,NaN,NaN
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,legbyes,161,161/3,0,NaN,NaN,NaN
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,NaN,163,163/3,0,NaN,NaN,NaN

In [137]:
var.dropna()

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
6670,336010,2008-05-08,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,9.0,A Kumble,DJ Hussey,T Taibu,0,1,legbyes,64,64/4,1,run out,"DW Steyn, MV Boucher",DJ Hussey
9022,336020,2008-05-15,2007/08,Delhi Daredevils,Deccan Chargers,1,15.1,PP Ojha,G Gambhir,S Dhawan,0,1,wides,140,140/2,1,stumped,AC Gilchrist,G Gambhir
21707,392217,2009-05-09,2009,Chennai Super Kings,Rajasthan Royals,2,16.5,SK Warne,ML Hayden,S Badrinath,0,1,wides,126,126/3,1,stumped,NV Ojha,ML Hayden
21927,392218,2009-05-10,2009,Royal Challengers Bangalore,Mumbai Indians,2,13.1,Harbhajan Singh,RE van der Merwe,MV Boucher,0,1,wides,90,90/6,1,stumped,YV Takawale,RE van der Merwe
22808,392222,2009-05-12,2009,Kings XI Punjab,Mumbai Indians,1,17.4,SL Malinga,K Goel,PP Chawla,0,1,wides,112,112/9,1,run out,YV Takawale,PP Chawla
24387,392228,2009-05-16,2009,Deccan Chargers,Kolkata Knight Riders,2,17.0,Mashrafe Mortaza,A Symonds,RG Sharma,0,1,noballs,128,128/4,1,run out,Mashrafe Mortaza,A Symonds
29246,419114,2010-03-17,2009/10,Delhi Daredevils,Mumbai Indians,2,8.4,Harbhajan Singh,KD Karthik,MF Maharoof,0,1,wides,79,79/4,1,stumped,AP Tare,KD Karthik
38560,419153,2010-04-13,2009/10,Kolkata Knight Riders,Chennai Super Kings,1,4.0,R Ashwin,DJ Hussey,MK Tiwary,0,1,wides,19,19/4,1,stumped,MS Dhoni,DJ Hussey
40074,419159,2010-04-18,2009/10,Chennai Super Kings,Kings XI Punjab,2,4.0,RR Powar,M Vijay,SK Raina,0,1,wides,27,27/2,1,stumped,KC Sangakkara,M Vijay
40814,419162,2010-04-21,2009/10,Royal Challengers Bangalore,Mumbai Indians,2,6.1,Harbhajan Singh,KP Pietersen,R Dravid,0,1,wides,47,47/2,1,stumped,AT Rayudu,KP Pietersen
42421,501201,2011-04-10,2011,Delhi Daredevils,Mumbai Indians,1,16.3,Harbhajan Singh,UT Yadav,RE van der Merwe,0,1,wides,90,90/9,1,stumped,DJ Jacobs,UT Yadav
46496,501219,2011-04-20,2011,Kolkata Knight Riders,Kochi Tuskers Kerala,2,16.5,RA Jadeja,MK Tiwary,R Bhatia,0,1,wides,101,101/7,1,stumped,PA Patel,MK Tiwary
54075,501251,2011-05-10,2011,Mumbai Indians,Kings XI Punjab,2,3.5,Bipul Sharma,RG Sharma,AC Blizzard,0,1,wides,27,27/2,1,stumped,AC Gilchrist,RG Sharma
74829,548375,2012-05-19,2012,Pune Warriors,Kolkata Knight Riders,2,7.4,YK Pathan,MJ Clarke,JD Ryder,0,1,wides,51,51/2,1,stumped,BB McCullum,MJ Clarke
79791,598012,2013-04-13,2013,Royal Challengers Bangalore,Chennai Super Kings,1,8.4,R Ashwin,MA Agarwal,V Kohli,0,1,wides,51,51/2,1,stumped,MS Dhoni,MA Agarwal
99050,729315,2014-04-29,2014,Kolkata Knight Riders,Rajasthan Royals,3,0.1,JP Faulkner,SA Yadav,Shakib Al Hasan,0,1,legbyes,1,1/1,1,run out,"SV Samson, KK Nair",SA Yadav
100461,733979,2014-05-05,2014,Kolkata Knight Riders,Rajasthan Royals,2,15.0,PV Tambe,MK Pandey,Shakib Al Hasan,0,1,wides,123,123/4,1,stumped,SV Samson,MK Pandey
101590,733989,2014-05-08,2014,Sunrisers Hyderabad,Rajasthan Royals,1,19.2,JP Faulkner,IK Pathan,DW Steyn,0,1,wides,125,125/8,1,run out,SV Samson,DW Steyn
102297,733995,2014-05-10,2014,Chennai Super Kings,Mumbai Indians,2,7.5,KA Pollard,SK Raina,DR Smith,0,1,wides,56,56/2,1,stumped,CM Gautam,SK Raina
106634,734031,2014-05-23,2014,Mumbai Indians,Delhi Daredevils,1,19.3,WD Parnell,JJ Bumrah,S Gopal,0,1,wides,173,173/10,1,run out,KD Karthik,S Gopal
109324,829707,2015-04-09,2015,Delhi Daredevils,Chennai Super Kings,2,18.4,A Nehra,A Mishra,JA Morkel,0,1,wides,129,129/8,1,run out,"MS Dhoni, A Nehra",A Mishra
109961,829713,2015-04-11,2015,Kolkata Knight Riders,Royal Challengers Bangalore,1,19.5,VR Aaron,Shakib Al Hasan,AD Russell,0,1,wides,173,173/6,1,run out,"KD Karthik, VR Aaron",Shakib Al Hasan
115702,829763,2015-04-29,2015,Royal Challengers Bangalore,Rajasthan Royals,1,16.2,SR Watson,SN Khan,KD Karthik,1,1,noballs,152,152/5,1,run out,"TG Southee, SV Samson",KD Karthik
116439,829769,2015-05-01,2015,Rajasthan Royals,Mumbai Indians,2,19.4,R Vinay Kumar,STR Binny,TG Southee,1,1,noballs,177,177/7,1,run out,"KA Pollard, R Vinay Kumar",TG Southee
117053,829775,2015-05-03,2015,Kings XI Punjab,Mumbai Indians,2,18.4,SL Malinga,WP Saha,GJ Bailey,0,1,wides,140,140/5,1,run out,PA Patel,GJ Bailey
120237,829803,2015-05-13,2015,Kings XI Punjab,Royal Challengers Bangalore,1,5.4,YS Chahal,DA Miller,GJ Bailey,0,1,wides,71,71/4,1,stumped,KD Karthik,DA Miller
122130,829821,2015-05-22,2015,Royal Challengers Bangalore,Chennai Super Kings,1,19.3,DJ Bravo,HV Patel,SN Khan,0,1,wides,138,138/7,1,run out,MS Dhoni,HV Patel
124384,980917,2016-04-16,2016,Mumbai Indians,Gujarat Lions,1,8.5,SB Jakati,JC Buttler,PA Patel,0,1,wides,51,51/3,1,stumped,KD Karthik,JC Buttler
130652,980969,2016-05-07,2016,Rising Pune Supergiants,Royal Challengers Bangalore,1,14.0,YS Chahal,SS Tiwary,AM Rahane,0,1,wides,132,132/2,1,stumped,KL Rahul,SS Tiwary
133061,980989,2016-05-14,2016,Kolkata Knight Riders,Rising Pune Supergiants,2,0.1,R Ashwin,RV Uthappa,G Gambhir,0,1,wides,5,5/1,1,stumped,MS Dhoni,RV Uthappa
136969,1082592,2017-04-06,2017,Mumbai Indians,Rising Pune Supergiant,1,19.5,AB Dinda,HH Pandya,TG Southee,0,1,wides,183,183/8,1,run out,"MS Dhoni, AB Dinda",TG Southee
142909,1082617,2017-04-23,2017,Kolkata Knight Riders,Royal Challengers Bangalore,1,9.1,YS Chahal,YK Pathan,MK Pandey,0,1,wides,82,82/4,1,stumped,KM Jadhav,YK Pathan
144492,1082625,2017-04-29,2017,Gujarat Lions,Mumbai Indians,1,8.1,KH Pandya,KD Karthik,Ishan Kishan,0,1,wides,56,56/4,1,stumped,PA Patel,KD Karthik
147815,1082639,2017-05-09,2017,Kings XI Punjab,Kolkata Knight Riders,1,17.5,Kuldeep Yadav,WP Saha,AR Patel,0,1,wides,146,146/5,1,stumped,RV Uthappa,WP Saha
153403,1136573,2018-04-16,2018,Delhi Daredevils,Kolkata Knight Riders,2,0.5,PP Chawla,JJ Roy,G Gambhir,0,1,wides,4,4/1,1,stumped,KD Karthik,JJ Roy
153675,1136574,2018-04-17,2018,Royal Challengers Bangalore,Mumbai Indians,2,9.3,KH Pandya,Mandeep Singh,V Kohli,0,1,wides,75,75/3,1,stumped,Ishan Kishan,Mandeep Singh
159860,1136600,2018-05-08,2018,Kings XI Punjab,Rajasthan Royals,2,2.0,K Gowtham,CH Gayle,KL Rahul,0,1,wides,14,14/1,1,stumped,JC Buttler,CH Gayle
165867,1175360,2019-03-26,2019,Chennai Super Kings,Delhi Capitals,2,6.4,A Mishra,SR Watson,SK Raina,0,1,wides,73,73/2,1,stumped,RR Pant,SR Watson
178494,1181766,2019-05-08,2019,Delhi Capitals,Sunrisers Hyderabad,2,7.3,DJ Hooda,S Dhawan,PP Shaw,0,1,wides,66,66/1,1,stumped,WP Saha,S Dhawan
201184,1254089,2021-10-02,2021,Chennai Super Kings,Rajasthan Royals,1,14.3,R Tewatia,MM Ali,RD Gaikwad,0,1,wides,114,114/3,1,stumped,SV Samson,MM Ali
208092,1304047,2022-03-26,2022,Chennai Super Kings,Kolkata Knight Riders,1,7.5,CV Varun,RV Uthappa,AT Rayudu,0,1,wides,49,49/3,1,stumped,SP Jackson,RV Uthappa
210216,1304055,2022-04-02,2022,Mumbai Indians,Rajasthan Royals,2,18.5,M Prasidh Krishna,KA Pollard,M Ashwin,0,1,noballs,165,165/7,1,run out,SV Samson,M Ashwin
220309,1304097,2022-05-06,2022,Mumbai Indians,Gujarat Titans,1,18.2,LH Ferguson,Tilak Varma,TH David,0,1,noballs,157,157/5,1,run out,HH Pandya,Tilak Varma
224880,1304116,2022-05-22,2022,Sunrisers Hyderabad,Punjab Kings,1,19.5,NT Ellis,R Shepherd,B Kumar,0,1,noballs,156,156/8,1,run out,JM Sharma,B Kumar
225101,1312197,2022-05-24,2022,Rajasthan Royals,Gujarat Titans,1,19.5,Yash Dayal,JC Buttler,R Parag,1,1,noballs,185,185/5,1,run out,"WP Saha, AS Joseph",JC Buttler
225102,1312197,2022-05-24,2022,Rajasthan Royals,Gujarat Titans,1,19.5,Yash Dayal,R Ashwin,R Parag,0,1,wides,186,186/6,1,run out,"WP Saha, Yash Dayal",R Parag
233329,1359505,2023-04-22,2023,Punjab Kings,Mumbai Indians,1,9.1,PP Chawla,LS Livingstone,Atharva Taide,0,1,wides,82,82/3,1,stumped,Ishan Kishan,LS Livingstone
233639,1359506,2023-04-23,2023,Royal Challengers Bangalore,Rajasthan Royals,1,19.0,Sandeep Sharma,PWH de Silva,KD Karthik,0,1,wides,180,180/7,1,run out,"SV Samson, Sandeep Sharma",PWH de Silva
234879,1359511,2023-04-27,2023,Rajasthan Royals,Chennai Super Kings,1,19.3,M Pathirana,D Padikkal,Dhruv Jurel,0,1,wides,194,194/5,1,run out,MS Dhoni,Dhruv Jurel
236509,1359518,2023-05-02,2023,Delhi Capitals,Gujarat Titans,1,1.1,HH Pandya,PK Garg,DA Warner,0,1,noballs,6,6/2,1,run out,Rashid Khan,DA Warner
242686,1359544,2023-05-21,2023,Royal Challengers Bangalore,Gujarat Titans,1,9.1,Noor Ahmad,MK Lomror,V Kohli,0,1,wides,85,85/3,1,stumped,WP Saha,MK Lomror
243398,1370352,2023-05-26,2023,Gujarat Titans,Mumbai Indians,1,6.2,PP Chawla,WP Saha,Shubman Gill,0,1,wides,54,54/1,1,stumped,Ishan Kishan,WP Saha
249678,1426262,2024-04-10,2024,Gujarat Titans,Rajasthan Royals,2,15.2,YS Chahal,Shubman Gill,R Tewatia,0,1,wides,133,133/5,1,stumped,SV Samson,Shubman Gill
251484,1426270,2024-04-17,2024,Gujarat Titans,Delhi Capitals,1,8.4,T Stubbs,M Shahrukh Khan,R Tewatia,0,1,wides,48,48/6,1,stumped,RR Pant,M Shahrukh Khan
252273,1426273,2024-04-20,2024,Delhi Capitals,Sunrisers Hyderabad,2,8.4,M Markande,Abishek Porel,T Stubbs,0,1,wides,135,135/4,1,stumped,H Klaasen,Abishek Porel

In [139]:
var.dropna(axis=1)

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,score,score/wicket,wicket_confirmation
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,1,1/0,0
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,1,1/0,0
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,2,2/0,0
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,2,2/0,0
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,2,2/0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255754,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.1,RJ Gleeson,SM Curran,Shashank Singh,0,0,156,156/3,0
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,160,160/3,0
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,160,160/3,0
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,161,161/3,0
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,163,163/3,0

In [141]:
var.dropna(how="any")

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
6670,336010,2008-05-08,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,9.0,A Kumble,DJ Hussey,T Taibu,0,1,legbyes,64,64/4,1,run out,"DW Steyn, MV Boucher",DJ Hussey
9022,336020,2008-05-15,2007/08,Delhi Daredevils,Deccan Chargers,1,15.1,PP Ojha,G Gambhir,S Dhawan,0,1,wides,140,140/2,1,stumped,AC Gilchrist,G Gambhir
21707,392217,2009-05-09,2009,Chennai Super Kings,Rajasthan Royals,2,16.5,SK Warne,ML Hayden,S Badrinath,0,1,wides,126,126/3,1,stumped,NV Ojha,ML Hayden
21927,392218,2009-05-10,2009,Royal Challengers Bangalore,Mumbai Indians,2,13.1,Harbhajan Singh,RE van der Merwe,MV Boucher,0,1,wides,90,90/6,1,stumped,YV Takawale,RE van der Merwe
22808,392222,2009-05-12,2009,Kings XI Punjab,Mumbai Indians,1,17.4,SL Malinga,K Goel,PP Chawla,0,1,wides,112,112/9,1,run out,YV Takawale,PP Chawla
24387,392228,2009-05-16,2009,Deccan Chargers,Kolkata Knight Riders,2,17.0,Mashrafe Mortaza,A Symonds,RG Sharma,0,1,noballs,128,128/4,1,run out,Mashrafe Mortaza,A Symonds
29246,419114,2010-03-17,2009/10,Delhi Daredevils,Mumbai Indians,2,8.4,Harbhajan Singh,KD Karthik,MF Maharoof,0,1,wides,79,79/4,1,stumped,AP Tare,KD Karthik
38560,419153,2010-04-13,2009/10,Kolkata Knight Riders,Chennai Super Kings,1,4.0,R Ashwin,DJ Hussey,MK Tiwary,0,1,wides,19,19/4,1,stumped,MS Dhoni,DJ Hussey
40074,419159,2010-04-18,2009/10,Chennai Super Kings,Kings XI Punjab,2,4.0,RR Powar,M Vijay,SK Raina,0,1,wides,27,27/2,1,stumped,KC Sangakkara,M Vijay
40814,419162,2010-04-21,2009/10,Royal Challengers Bangalore,Mumbai Indians,2,6.1,Harbhajan Singh,KP Pietersen,R Dravid,0,1,wides,47,47/2,1,stumped,AT Rayudu,KP Pietersen
42421,501201,2011-04-10,2011,Delhi Daredevils,Mumbai Indians,1,16.3,Harbhajan Singh,UT Yadav,RE van der Merwe,0,1,wides,90,90/9,1,stumped,DJ Jacobs,UT Yadav
46496,501219,2011-04-20,2011,Kolkata Knight Riders,Kochi Tuskers Kerala,2,16.5,RA Jadeja,MK Tiwary,R Bhatia,0,1,wides,101,101/7,1,stumped,PA Patel,MK Tiwary
54075,501251,2011-05-10,2011,Mumbai Indians,Kings XI Punjab,2,3.5,Bipul Sharma,RG Sharma,AC Blizzard,0,1,wides,27,27/2,1,stumped,AC Gilchrist,RG Sharma
74829,548375,2012-05-19,2012,Pune Warriors,Kolkata Knight Riders,2,7.4,YK Pathan,MJ Clarke,JD Ryder,0,1,wides,51,51/2,1,stumped,BB McCullum,MJ Clarke
79791,598012,2013-04-13,2013,Royal Challengers Bangalore,Chennai Super Kings,1,8.4,R Ashwin,MA Agarwal,V Kohli,0,1,wides,51,51/2,1,stumped,MS Dhoni,MA Agarwal
99050,729315,2014-04-29,2014,Kolkata Knight Riders,Rajasthan Royals,3,0.1,JP Faulkner,SA Yadav,Shakib Al Hasan,0,1,legbyes,1,1/1,1,run out,"SV Samson, KK Nair",SA Yadav
100461,733979,2014-05-05,2014,Kolkata Knight Riders,Rajasthan Royals,2,15.0,PV Tambe,MK Pandey,Shakib Al Hasan,0,1,wides,123,123/4,1,stumped,SV Samson,MK Pandey
101590,733989,2014-05-08,2014,Sunrisers Hyderabad,Rajasthan Royals,1,19.2,JP Faulkner,IK Pathan,DW Steyn,0,1,wides,125,125/8,1,run out,SV Samson,DW Steyn
102297,733995,2014-05-10,2014,Chennai Super Kings,Mumbai Indians,2,7.5,KA Pollard,SK Raina,DR Smith,0,1,wides,56,56/2,1,stumped,CM Gautam,SK Raina
106634,734031,2014-05-23,2014,Mumbai Indians,Delhi Daredevils,1,19.3,WD Parnell,JJ Bumrah,S Gopal,0,1,wides,173,173/10,1,run out,KD Karthik,S Gopal
109324,829707,2015-04-09,2015,Delhi Daredevils,Chennai Super Kings,2,18.4,A Nehra,A Mishra,JA Morkel,0,1,wides,129,129/8,1,run out,"MS Dhoni, A Nehra",A Mishra
109961,829713,2015-04-11,2015,Kolkata Knight Riders,Royal Challengers Bangalore,1,19.5,VR Aaron,Shakib Al Hasan,AD Russell,0,1,wides,173,173/6,1,run out,"KD Karthik, VR Aaron",Shakib Al Hasan
115702,829763,2015-04-29,2015,Royal Challengers Bangalore,Rajasthan Royals,1,16.2,SR Watson,SN Khan,KD Karthik,1,1,noballs,152,152/5,1,run out,"TG Southee, SV Samson",KD Karthik
116439,829769,2015-05-01,2015,Rajasthan Royals,Mumbai Indians,2,19.4,R Vinay Kumar,STR Binny,TG Southee,1,1,noballs,177,177/7,1,run out,"KA Pollard, R Vinay Kumar",TG Southee
117053,829775,2015-05-03,2015,Kings XI Punjab,Mumbai Indians,2,18.4,SL Malinga,WP Saha,GJ Bailey,0,1,wides,140,140/5,1,run out,PA Patel,GJ Bailey
120237,829803,2015-05-13,2015,Kings XI Punjab,Royal Challengers Bangalore,1,5.4,YS Chahal,DA Miller,GJ Bailey,0,1,wides,71,71/4,1,stumped,KD Karthik,DA Miller
122130,829821,2015-05-22,2015,Royal Challengers Bangalore,Chennai Super Kings,1,19.3,DJ Bravo,HV Patel,SN Khan,0,1,wides,138,138/7,1,run out,MS Dhoni,HV Patel
124384,980917,2016-04-16,2016,Mumbai Indians,Gujarat Lions,1,8.5,SB Jakati,JC Buttler,PA Patel,0,1,wides,51,51/3,1,stumped,KD Karthik,JC Buttler
130652,980969,2016-05-07,2016,Rising Pune Supergiants,Royal Challengers Bangalore,1,14.0,YS Chahal,SS Tiwary,AM Rahane,0,1,wides,132,132/2,1,stumped,KL Rahul,SS Tiwary
133061,980989,2016-05-14,2016,Kolkata Knight Riders,Rising Pune Supergiants,2,0.1,R Ashwin,RV Uthappa,G Gambhir,0,1,wides,5,5/1,1,stumped,MS Dhoni,RV Uthappa
136969,1082592,2017-04-06,2017,Mumbai Indians,Rising Pune Supergiant,1,19.5,AB Dinda,HH Pandya,TG Southee,0,1,wides,183,183/8,1,run out,"MS Dhoni, AB Dinda",TG Southee
142909,1082617,2017-04-23,2017,Kolkata Knight Riders,Royal Challengers Bangalore,1,9.1,YS Chahal,YK Pathan,MK Pandey,0,1,wides,82,82/4,1,stumped,KM Jadhav,YK Pathan
144492,1082625,2017-04-29,2017,Gujarat Lions,Mumbai Indians,1,8.1,KH Pandya,KD Karthik,Ishan Kishan,0,1,wides,56,56/4,1,stumped,PA Patel,KD Karthik
147815,1082639,2017-05-09,2017,Kings XI Punjab,Kolkata Knight Riders,1,17.5,Kuldeep Yadav,WP Saha,AR Patel,0,1,wides,146,146/5,1,stumped,RV Uthappa,WP Saha
153403,1136573,2018-04-16,2018,Delhi Daredevils,Kolkata Knight Riders,2,0.5,PP Chawla,JJ Roy,G Gambhir,0,1,wides,4,4/1,1,stumped,KD Karthik,JJ Roy
153675,1136574,2018-04-17,2018,Royal Challengers Bangalore,Mumbai Indians,2,9.3,KH Pandya,Mandeep Singh,V Kohli,0,1,wides,75,75/3,1,stumped,Ishan Kishan,Mandeep Singh
159860,1136600,2018-05-08,2018,Kings XI Punjab,Rajasthan Royals,2,2.0,K Gowtham,CH Gayle,KL Rahul,0,1,wides,14,14/1,1,stumped,JC Buttler,CH Gayle
165867,1175360,2019-03-26,2019,Chennai Super Kings,Delhi Capitals,2,6.4,A Mishra,SR Watson,SK Raina,0,1,wides,73,73/2,1,stumped,RR Pant,SR Watson
178494,1181766,2019-05-08,2019,Delhi Capitals,Sunrisers Hyderabad,2,7.3,DJ Hooda,S Dhawan,PP Shaw,0,1,wides,66,66/1,1,stumped,WP Saha,S Dhawan
201184,1254089,2021-10-02,2021,Chennai Super Kings,Rajasthan Royals,1,14.3,R Tewatia,MM Ali,RD Gaikwad,0,1,wides,114,114/3,1,stumped,SV Samson,MM Ali
208092,1304047,2022-03-26,2022,Chennai Super Kings,Kolkata Knight Riders,1,7.5,CV Varun,RV Uthappa,AT Rayudu,0,1,wides,49,49/3,1,stumped,SP Jackson,RV Uthappa
210216,1304055,2022-04-02,2022,Mumbai Indians,Rajasthan Royals,2,18.5,M Prasidh Krishna,KA Pollard,M Ashwin,0,1,noballs,165,165/7,1,run out,SV Samson,M Ashwin
220309,1304097,2022-05-06,2022,Mumbai Indians,Gujarat Titans,1,18.2,LH Ferguson,Tilak Varma,TH David,0,1,noballs,157,157/5,1,run out,HH Pandya,Tilak Varma
224880,1304116,2022-05-22,2022,Sunrisers Hyderabad,Punjab Kings,1,19.5,NT Ellis,R Shepherd,B Kumar,0,1,noballs,156,156/8,1,run out,JM Sharma,B Kumar
225101,1312197,2022-05-24,2022,Rajasthan Royals,Gujarat Titans,1,19.5,Yash Dayal,JC Buttler,R Parag,1,1,noballs,185,185/5,1,run out,"WP Saha, AS Joseph",JC Buttler
225102,1312197,2022-05-24,2022,Rajasthan Royals,Gujarat Titans,1,19.5,Yash Dayal,R Ashwin,R Parag,0,1,wides,186,186/6,1,run out,"WP Saha, Yash Dayal",R Parag
233329,1359505,2023-04-22,2023,Punjab Kings,Mumbai Indians,1,9.1,PP Chawla,LS Livingstone,Atharva Taide,0,1,wides,82,82/3,1,stumped,Ishan Kishan,LS Livingstone
233639,1359506,2023-04-23,2023,Royal Challengers Bangalore,Rajasthan Royals,1,19.0,Sandeep Sharma,PWH de Silva,KD Karthik,0,1,wides,180,180/7,1,run out,"SV Samson, Sandeep Sharma",PWH de Silva
234879,1359511,2023-04-27,2023,Rajasthan Royals,Chennai Super Kings,1,19.3,M Pathirana,D Padikkal,Dhruv Jurel,0,1,wides,194,194/5,1,run out,MS Dhoni,Dhruv Jurel
236509,1359518,2023-05-02,2023,Delhi Capitals,Gujarat Titans,1,1.1,HH Pandya,PK Garg,DA Warner,0,1,noballs,6,6/2,1,run out,Rashid Khan,DA Warner
242686,1359544,2023-05-21,2023,Royal Challengers Bangalore,Gujarat Titans,1,9.1,Noor Ahmad,MK Lomror,V Kohli,0,1,wides,85,85/3,1,stumped,WP Saha,MK Lomror
243398,1370352,2023-05-26,2023,Gujarat Titans,Mumbai Indians,1,6.2,PP Chawla,WP Saha,Shubman Gill,0,1,wides,54,54/1,1,stumped,Ishan Kishan,WP Saha
249678,1426262,2024-04-10,2024,Gujarat Titans,Rajasthan Royals,2,15.2,YS Chahal,Shubman Gill,R Tewatia,0,1,wides,133,133/5,1,stumped,SV Samson,Shubman Gill
251484,1426270,2024-04-17,2024,Gujarat Titans,Delhi Capitals,1,8.4,T Stubbs,M Shahrukh Khan,R Tewatia,0,1,wides,48,48/6,1,stumped,RR Pant,M Shahrukh Khan
252273,1426273,2024-04-20,2024,Delhi Capitals,Sunrisers Hyderabad,2,8.4,M Markande,Abishek Porel,T Stubbs,0,1,wides,135,135/4,1,stumped,H Klaasen,Abishek Porel

In [143]:
var.dropna(how = "all")

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,NaN,NaN,NaN
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,1,1/0,0,NaN,NaN,NaN
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,NaN,NaN,NaN
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255754,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.1,RJ Gleeson,SM Curran,Shashank Singh,0,0,NaN,156,156/3,0,NaN,NaN,NaN
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,NaN,160,160/3,0,NaN,NaN,NaN
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,NaN,160,160/3,0,NaN,NaN,NaN
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,legbyes,161,161/3,0,NaN,NaN,NaN
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,NaN,163,163/3,0,NaN,NaN,NaN

In [145]:
var.dropna(subset=['Bowler'])

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,NaN,NaN,NaN
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,1,1/0,0,NaN,NaN,NaN
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,NaN,NaN,NaN
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255754,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.1,RJ Gleeson,SM Curran,Shashank Singh,0,0,NaN,156,156/3,0,NaN,NaN,NaN
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,NaN,160,160/3,0,NaN,NaN,NaN
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,NaN,160,160/3,0,NaN,NaN,NaN
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,legbyes,161,161/3,0,NaN,NaN,NaN
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,NaN,163,163/3,0,NaN,NaN,NaN

In [147]:
var.dropna(thresh=1)

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,NaN,NaN,NaN
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,1,1/0,0,NaN,NaN,NaN
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,NaN,NaN,NaN
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,NaN,2,2/0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255754,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.1,RJ Gleeson,SM Curran,Shashank Singh,0,0,NaN,156,156/3,0,NaN,NaN,NaN
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,NaN,160,160/3,0,NaN,NaN,NaN
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,NaN,160,160/3,0,NaN,NaN,NaN
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,legbyes,161,161/3,0,NaN,NaN,NaN
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,NaN,163,163/3,0,NaN,NaN,NaN

In [149]:
var.fillna("Python")

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,Python,Python,Python
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,Python,1,1/0,0,Python,Python,Python
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,Python,Python,Python
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,Python,2,2/0,0,Python,Python,Python
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,Python,2,2/0,0,Python,Python,Python
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255754,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.1,RJ Gleeson,SM Curran,Shashank Singh,0,0,Python,156,156/3,0,Python,Python,Python
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,Python,160,160/3,0,Python,Python,Python
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,Python,160,160/3,0,Python,Python,Python
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,legbyes,161,161/3,0,Python,Python,Python
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,Python,163,163/3,0,Python,Python,Python

In [151]:
var.fillna({"Player Out":"Python","wicket_type":"C","type of extras":"Java","fielders_involved":"C++"})

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,C,C++,Python
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,Java,1,1/0,0,C,C++,Python
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,C,C++,Python
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,Java,2,2/0,0,C,C++,Python
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,Java,2,2/0,0,C,C++,Python
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255754,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.1,RJ Gleeson,SM Curran,Shashank Singh,0,0,Java,156,156/3,0,C,C++,Python
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,Java,160,160/3,0,C,C++,Python
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,Java,160,160/3,0,C,C++,Python
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,legbyes,161,161/3,0,C,C++,Python
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,Java,163,163/3,0,C,C++,Python

In [153]:
var.fillna(method="ffill")

C:\Users\user5\AppData\Local\Temp\ipykernel_1960\3062787689.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="ffill")

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,NaN,NaN,NaN
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,legbyes,1,1/0,0,NaN,NaN,NaN
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,NaN,NaN,NaN
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,wides,2,2/0,0,NaN,NaN,NaN
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,wides,2,2/0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255754,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.1,RJ Gleeson,SM Curran,Shashank Singh,0,0,noballs,156,156/3,0,bowled,MS Dhoni,RR Rossouw
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,noballs,160,160/3,0,bowled,MS Dhoni,RR Rossouw
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,noballs,160,160/3,0,bowled,MS Dhoni,RR Rossouw
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,legbyes,161,161/3,0,bowled,MS Dhoni,RR Rossouw
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,legbyes,163,163/3,0,bowled,MS Dhoni,RR Rossouw

In [155]:
var.fillna(method="bfill")

C:\Users\user5\AppData\Local\Temp\ipykernel_1960\119153051.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="bfill")

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,caught,JH Kallis,SC Ganguly
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,wides,1,1/0,0,caught,JH Kallis,SC Ganguly
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,caught,JH Kallis,SC Ganguly
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,legbyes,2,2/0,0,caught,JH Kallis,SC Ganguly
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,legbyes,2,2/0,0,caught,JH Kallis,SC Ganguly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255754,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.1,RJ Gleeson,SM Curran,Shashank Singh,0,0,legbyes,156,156/3,0,NaN,NaN,NaN
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,legbyes,160,160/3,0,NaN,NaN,NaN
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,legbyes,160,160/3,0,NaN,NaN,NaN
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,legbyes,161,161/3,0,NaN,NaN,NaN
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,NaN,163,163/3,0,NaN,NaN,NaN

In [157]:
var.fillna(method="bfill",axis=1)

C:\Users\user5\AppData\Local\Temp\ipykernel_1960\249782568.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="bfill",axis=1)

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,NaN,NaN,NaN
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,1,1,1/0,0,NaN,NaN,NaN
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,NaN,NaN,NaN
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,2,2,2/0,0,NaN,NaN,NaN
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,2,2,2/0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255754,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.1,RJ Gleeson,SM Curran,Shashank Singh,0,0,156,156,156/3,0,NaN,NaN,NaN
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,160,160,160/3,0,NaN,NaN,NaN
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,160,160,160/3,0,NaN,NaN,NaN
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,legbyes,161,161/3,0,NaN,NaN,NaN
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,163,163,163/3,0,NaN,NaN,NaN

In [161]:
var.fillna(method="ffill",axis=1)

C:\Users\user5\AppData\Local\Temp\ipykernel_1960\2684882124.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="ffill",axis=1)

,Match id,Date,Season,Batting team,Bowling team,Innings No,Ball No,Bowler,Striker,Non Striker,runs_scored,extras,type of extras,score,score/wicket,wicket_confirmation,wicket_type,fielders_involved,Player Out
0,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.1,P Kumar,SC Ganguly,BB McCullum,0,1,legbyes,1,1/0,0,0,0,0
1,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,0,0,1,1/0,0,0,0,0
2,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.2,P Kumar,BB McCullum,SC Ganguly,0,1,wides,2,2/0,0,0,0,0
3,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.3,P Kumar,BB McCullum,SC Ganguly,0,0,0,2,2/0,0,0,0,0
4,335982,2008-04-18,2007/08,Kolkata Knight Riders,Royal Challengers Bangalore,1,0.4,P Kumar,BB McCullum,SC Ganguly,0,0,0,2,2/0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255754,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.1,RJ Gleeson,SM Curran,Shashank Singh,0,0,0,156,156/3,0,0,0,0
255755,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.2,RJ Gleeson,SM Curran,Shashank Singh,4,0,0,160,160/3,0,0,0,0
255756,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.3,RJ Gleeson,SM Curran,Shashank Singh,0,0,0,160,160/3,0,0,0,0
255757,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.4,RJ Gleeson,SM Curran,Shashank Singh,0,1,legbyes,161,161/3,0,0,0,0
255758,1426287,2024-05-01,2024,Punjab Kings,Chennai Super Kings,2,17.5,RJ Gleeson,Shashank Singh,SM Curran,2,0,0,163,163/3,0,0,0,0